@model IEnumerable<MvcSalesforce.Models.Search>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinSquareFootage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxSquareFootage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinSquareFootage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxSquareFootage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SearchID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SearchID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SearchID })
        </td>
    </tr>
}

</table>
